.music-content,
.artist-bio,
.single-content {
    text-align: justify;

    @include media(phone-small) {
        margin-top: 2rem;
    }

    h2 {
        font-size: 4rem;
        letter-spacing: inherit;
        margin-bottom: 1rem;
        display: block;
        text-align: center;
    }

    img {
        width: 50%;
    }

    iframe {
        width: 80%;

        &.instagram-media {
            margin: 0 auto 25px !important;
        }
    }
}
