.music-content,
.artist-bio,
.single-content {
    text-align: justify;

    @include media(phone-small) {
        margin-top: 2rem;
    }

    h2 {
        font-size: 4rem;
        letter-spacing: inherit;
        margin-bottom: 1rem;
        display: block;
        text-transform: uppercase;
        font-weight: 600;
    }

    img {
        width: auto;
        max-height: 400px;
    }

    .fb_iframe_widget {
        display: block;

        span {
            display: block;
            margin: 0 auto;
        }
    }

    iframe {
        width: 80%;

        @include media(phone) {
            width: 100%;
        }

        &.instagram-media {
            margin: 0 auto 25px !important;
        }
    }
}
