@use "../variables/variables-base";

.music-content,
.artist-bio,
.single-content {
    text-align: center;

    @include variables-base.media(phone-small) {
        margin-top: 2rem;
    }

    h2 {
        font-size: 4rem;
        letter-spacing: inherit;
        margin-bottom: 1rem;
        display: block;
        text-transform: uppercase;
        font-weight: 600;
    }

    img {
        width: auto;
        max-height: 500px;
    }

    .fb_iframe_widget {
        display: block;

        span {
            display: block;
            margin: 0 auto 40px;
        }
    }

    iframe {
        margin: 25px auto;
        display: block;
        width: 100%;

        &.instagram-media {
            margin: 25px auto;
        }
    }

    figure {
        margin: 25px 0;
    }

    a {
        text-decoration: underline;
    }

    a.associated-artist__name {
        text-decoration: none;
    }
}

.artist-perso {
    a {
        text-decoration: underline;
    }
    svg {
        fill: currentColor;
        width: 30px;
        height: 30px;
    }
}
