@use "../variables/colors";

.widget {
	text-align: center;
	select {
		max-width: 100%;
	}
}

.follow-us {
	.follow-us__box {
		display: flex;
		justify-content: space-around;
		max-width: 300px;
		margin: 0 auto;
	}

	.icon {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		width: 50px;
		padding: 7px 0 5px;
		border-radius: 50%;
		transition: all 0.8s ease;
	}

	.facebook:hover .icon svg {
		fill: colors.$color__facebook;
	}

	.youtube:hover .icon svg {
		fill: colors.$color__youtube;
	}

	.instagram:hover .icon svg {
		fill: colors.$color__instagram;
	}

	.soundcloud:hover .icon svg {
		fill: colors.$color__soundcloud;
	}

	svg {
		fill: currentColor;
		width: 30px;
		height: 30px;
	}
}
