$font__main: 'Montserrat', sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// fonts-weight
$ultralight: 100;
$light: 200;
$regular: 300;
$medium: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;