@forward "config";
@use "config";
@use "../mixins/breakpoints";
@use "../mixins/functions";

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: config.$grid-breakpoints;

@include functions.assert-ascending(config.$grid-breakpoints, "$grid-breakpoints");
@include functions.assert-starts-at-zero(config.$grid-breakpoints);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: config.$container-max-widths;

@include functions.assert-ascending(config.$container-max-widths, "$container-max-widths");

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns: config.$grid-columns;
$grid-gutter-width: config.$grid-gutter-width;
$small-gutter-width: config.$small-gutter-width;

// media queries mixins
@mixin media($b) {
	@if $b == 'phone-small' {
		@include breakpoints.media-breakpoint-down(xs) {
			@content;
		}
	} @else if $b == 'phone' {
		@include breakpoints.media-breakpoint-down(sm) {
			@content;
		}
	} @else if $b == 'phone-tablet' {
		@include breakpoints.media-breakpoint-down(md) {
			@content;
		}
	} @else if $b == 'phone-tablet-desktop-small' {
		@include breakpoints.media-breakpoint-down(lg) {
			@content;
		}
	} @else if $b == 'tablet-only' or $b == 'tablet' {
		@include breakpoints.media-breakpoint-only(md) {
			@content;
		}
	} @else if $b == 'desktop-small-only' or $b == 'desktop-small' {
		@include breakpoints.media-breakpoint-only(lg) {
			@content;
		}
	} @else if $b == 'phone-tablet-desktop' {
		@include breakpoints.media-breakpoint-up(sm) {
			@content;
		}
	} @else if $b == 'tablet-desktop' {
		@include breakpoints.media-breakpoint-up(md) {
			@content;
		}
	} @else if $b == 'desktop' {
		@include breakpoints.media-breakpoint-up(lg) {
			@content;
		}
	} @else if $b == 'desktop-large' {
		@include breakpoints.media-breakpoint-up(xl) {
			@content;
		}
	}	
	@else {
		@content;
	}
}

@mixin visually-hidden() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visually-hidden {
	@include visually-hidden();
}

@mixin visually-visible() {
	position: relative;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	display: inline-block;
	clip: auto;
}
