.post-type-archive-music {
    h2 {
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;

        @include media(phone) {
            font-size: 20px;
        }
    }

    .principal {
        background: white;
        border-radius: 1rem;
    }

    .select-year {
        margin-bottom: 1.25rem;
    }

    .post-item {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;

        .rotate {
            margin-right: 2rem;
        }

        img {
            width: 7rem;
            min-width: 7rem;
        }

        div {
            a {
                display: block;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    .loadmore {
        text-align: center;

        button {
            border: none;
            color: #fff;
            background: $color__yellow;
            @include shadow();
            padding: 0.625rem 1.875rem;
            margin-top: 1.875rem;
            transition: all ease-out;

            &:focus {
                outline: none;
            }

            &:active { 
                transform: scale(0.98); 
                box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
            } 
        }
    }
}