.post-type-archive-riddim,
.post-type-archive-artist {
    .hero-banner {
        display: none;
    }

    h2 {
        letter-spacing: .3rem;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            height: 5px;
            width: 77px;
            background: $color__orange;
        }

        @include media(phone) {
            letter-spacing: 0;
        }
    }

    .principal {
        border-radius: 1rem;
        padding: 0 2rem 2rem;
        margin-bottom: 2rem;
        column-count: 4;
        column-gap: 2em;
        border-radius: 5px;
        background: rgba(255,255,255,.06);

        @include media(phone) {
            column-count: 1;
        }

        @include media(tablet) {
            column-count: 3;
        }
    }

    .group {
        display: inline-block;
        margin: 0 0 2em;
        width: 100%;
        transition: 1s ease all;
    }

    .letter {
        font-size: 3rem;
        padding-top: 2rem;
        margin-top: 0;
        margin-bottom: 0.25rem;
        padding-bottom: 0.2em;
        border-bottom: 0.125rem solid #fff;
    }

    .bloc-letter {
        a:hover {
            text-decoration: underline;
        }
    }
}