.post-type-archive-music {
    h2 {
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;

        @include media(phone) {
            font-size: 30px;
        }
    }

    .principal {
        background: white;
        border-radius: 1rem;
    }

    #pepsee_filters {
        margin-bottom: 2.1875rem;

        @include media(phone) {
            text-align: center;
        }

        button {
            @include shadow();
            border: 0;
        }
    }

    .post-item {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;

        .rotate {
            margin-right: 2rem;
            min-width: 4.625rem;
        }

        img {
            width: 7rem;
            min-width: 7rem;
        }

        div {
            a {
                display: block;
            }

            a:hover {
                text-decoration: underline;
            }
        }
    }

    #pepsee_loadmore {
        text-align: center;
        color: #fff;
        background: $color__yellow;
        @include shadow();
        padding: 0.625rem 1.875rem;
        margin: 1.875rem auto 0;
        transition: all ease-out;
        width: 140px;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:active { 
            transform: scale(0.98); 
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
        } 
    }
}