.post-type-archive-music {
    h2 {
        font-size: 4rem;
        letter-spacing: 0;
        margin-bottom: 4rem;

        @include media(phone) {
            font-size: 3rem;
        }
    }

    .post-item {
        li {
            margin-bottom: 2rem;
            display: flex;
            align-items: center;

            .rotate {
                margin-right: 2rem;
            }

            img {
                width: 7rem;
                min-width: 7rem;
            }

            div {
                a {
                    display: block;
                }

                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .page-numbers {
        margin: 4rem 0;

        @include media(phone) {
            line-height: 4.5rem;
        }

        li {
            display: inline-block;

            a {
                background: $color__yellow;
                color: white;
                padding: 1rem 1.5rem;
            }

            .current {
                padding: .6rem 1.3rem;
                border: .4rem solid $color__yellow;
            }
        }
    }
}