.category-actus,
.category-clips,
.post-type-archive-album {
    .principal {
        background: white;
        border-radius: 1rem;
    }

    .post-item {
        li {
            margin-bottom: 4rem;
            display: flex;
            align-items: flex-start;

            @include media(phone) {
                display: block;
            }

            img {
                max-width: 20rem;
                border-radius: 1rem;

                @include media(phone) {
                    margin-bottom: 1rem;
                    max-width: 100%;
                }    
            }

            .post-meta {
                color: grey;
                font-size: 1.2rem;
                margin: .5rem 0;

                .icon-date {
                    fill: currentColor;
                    height: 1.8rem;
                }
            }

            div {
                margin-left: 2rem;

                @include media(phone) {
                    margin-left: 0;
                }    

                a {
                    text-decoration: underline;
                }

                p {
                    opacity: .6;
                }
            }
        }
    }

    .archive-header {
        h2 {
            font-size: 4rem;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .page-numbers {
        margin-bottom: 3rem;

        @include media(phone) {
            line-height: 4.5rem;
        }

        li {
            display: inline-block;

            a {
                background: $color__yellow;
                color: white;
                padding: 1rem 1.5rem;
            }

            .current {
                padding: .6rem 1.3rem;
                border: .4rem solid $color__yellow;
            }
        }
    }

    aside {
        @include media(phone) {
            margin-top: 3rem;
        }
    }
}