.post-type-archive-artist {
    h2 {
        letter-spacing: .3rem;
        font-weight: 700;
        text-transform: uppercase;

        @include media(phone) {
            letter-spacing: 0;
        }
    }

    .principal {
        background: white;
        border-radius: 1rem;
        padding: 2rem;
        margin-bottom: 2rem;
    }

    .letter {
        font-size: 3rem;
        font-weight: 700;
    }

    .bloc-letter {
        margin-bottom: 2rem;

        a:hover {
            text-decoration: underline;
        }
    }
}