@use "../variables/colors";
@use "../variables/variables-base";

.archive {
    background-color: colors.$surface-dark;

    main {
        padding: 2rem 0;

        @include variables-base.media(phone) {
            padding: 1rem 2rem;
        }
    }
}

.category-actus {
    .principal {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        max-height: 200rem;
        padding-left: 8px;
        padding-right: 8px;
        border-radius: 5px;
        background-color: rgba(255,255,255,.06);

        @include variables-base.media(phone) {
            max-height: 270rem;
        }
    }

    .post-item {
        width: 33%;
        padding: 0 8px;
        margin-bottom: 1rem;

        @include variables-base.media(phone) {
            width: 50%;
        }


        .image-wrapper {
            position: relative;
            width: 100%;
            margin-bottom: 1rem;
            overflow: hidden;
            border-radius: 10px;
        }

        .post-meta {
            font-size: 1.2rem;
            margin: .5rem 0;

            svg {
                fill: currentColor;
                width: 15px;
                height: 15px;
                margin: 0 7px;
            }
        }

        div {
            @include variables-base.media(phone) {
                margin-left: 0;
            }    

            a {
                font-size: 1.5rem;
                text-transform: uppercase;
            }

            p {
                font-size: 1.2rem;
                opacity: .6;
            }
        }
    }

    .archive-header {
        h2 {
            font-size: 4rem;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;
        }
    }

    .page-numbers {
        margin-bottom: 3rem;

        @include variables-base.media(phone) {
            line-height: 4.5rem;
        }

        li {
            display: inline-block;

            a {
                background: colors.$brand-accent;
                padding: 1rem 1.5rem;
            }

            .current {
                padding: .6rem 1.3rem;
                border: .4rem solid colors.$brand-accent;
            }
        }
    }

    aside {
        @include variables-base.media(phone) {
            margin-top: 3rem;
        }
    }
}
