.category-actus,
.category-clips,
.post-type-archive-album {
    .principal {
        border-radius: 5px;
        background-color: rgba(255,255,255,.06);
    }

    .post-item {
        li {
            margin-bottom: 4rem;
            display: flex;
            align-items: flex-start;

            @include media(phone) {
                display: block;
            }

            img {
                max-width: 20rem;
                border-radius: 1rem;

                @include media(phone) {
                    margin-bottom: 1rem;
                    max-width: 100%;
                }    
            }

            .post-meta {
                font-size: 1.2rem;
                margin: .5rem 0;

                .fa.fa-eye {
                    margin-left: 7px;
                }
            }

            div {
                margin-left: 2rem;

                @include media(phone) {
                    margin-left: 0;
                }    

                a {
                    font-size: 20px;
                }

                p {
                    opacity: .6;
                }
            }
        }
    }

    .archive-header {
        h2 {
            font-size: 4rem;
            font-weight: 700;
            text-transform: uppercase;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                height: 5px;
                width: 77px;
                background: $color__orange;
            }
        }
    }

    .page-numbers {
        margin-bottom: 3rem;

        @include media(phone) {
            line-height: 4.5rem;
        }

        li {
            display: inline-block;

            a {
                background: $color__orange;
                padding: 1rem 1.5rem;
            }

            .current {
                padding: .6rem 1.3rem;
                border: .4rem solid $color__orange;
            }
        }
    }

    aside {
        @include media(phone) {
            margin-top: 3rem;
        }
    }
}