.home {
    > .container {
        @include media(phone) {
            display: flex;
            flex-direction: column;
        }
    }

    svg {
        fill: currentColor;
        width: 30px;
        height: 30px;
    }

    h2 {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 2rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            height: 5px;
            width: 77px;
            background: $color__orange;
        }
    }

    .header-actus {
        margin-top: 10rem;

        @include media(phone) {
            margin-top: 5rem;
        }

        .header-section {
            display: flex;
            align-items: center;

            @include media(phone) {
                flex-direction: column;
            }

            .thumbnail-wrapper {
                border-radius: 15px;
                overflow: hidden;
                @include shadow;
            }

            .swiper-container {
                max-width: 100%;
                overflow: hidden;

                @include media(desktop) {
                    max-width: 30%;
                    margin-left: 3rem;
                }
            }

            .swiper-pagination {
                position: relative;
                padding: 2rem 0;

                .swiper-pagination-bullet-active,
                .swiper-pagination-bullet {
                    background: white;
                }
            }

            .see-more {
                border: 1px solid white;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        border-radius: 1rem;

        @include media(phone) {
            padding-top: 0;
            border-radius: 0;
        }

        .principal {
            border-radius: 1rem;
            padding-top: 0;

            @include media(phone) {
                border-radius: 0;
            }
        }
    }

    .riddim,
    .releases,
    .album {
        position: relative;

        @include media(phone) {
            font-size: 14px;
        }

        &-wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background: rgba(255,255,255,.06);
            padding: 15px 15px 0;
            border-radius: 5px;

            @include media(phone) {
                justify-content: center;
            }

            @include media(phone-small) {
                flex-direction: column;
            }

            article {
                margin-bottom: 2rem;
                display: flex;
                align-items: flex-start;
                position: relative;
                width: 50%;

                @include media(phone) {
                    flex-direction: column;
                    align-items: center;
                }

                @include media(phone-small) {
                    width: 100%;
                    flex-direction: row;
                }

                .new {
                    display: inline-block;
                    text-transform: uppercase;
                    font-weight: 600;
                    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 10px;

                    svg {
                        width: 13px;
                        height: 13px;
                        color: red;
                        vertical-align: baseline;
                    }
                }

                .rotate {
                    width: 8rem;
                    height: 8rem;
                    min-width: 8rem;

                    @include media(phone-small) {
                        margin-right: 8px;
                    }
                }

                img {
                    @include shadow;
                    width: 100%;
                    max-width: 15rem;
                }

                &.album img {
                    min-width: 11rem;

                    @include media(phone) {
                        min-width: 6rem;
                    }
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 1rem;
                    width: 100%;

                    @include media(phone) {
                        margin-left: 0;
                        margin-top: 1rem;
                        text-align: center;
                    }

                    @include media(phone-small) {
                        text-align: left;
                    }

                    p {
                        font-weight: 600;
                        margin: 0;
                    }

                    ul {
                        display: flex;

                        @include media(phone) {
                            justify-content: center;
                        }

                        li:not(:last-of-type) {
                            margin-right: 5px;
                        }
                    }

                    .beatmaker p {
                        display: inline-block;

                        + p::before {
                            content: '/';
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    .artist {
        display: flex;
        flex-wrap: wrap;

        .artist-wrap {
            display: flex;
            flex-flow: wrap;
        }

        article {
            display: inline-block;
            margin: 0 20px;
            max-width: 11rem;
            text-align: center;

            @include media(phone) {
                margin: 0 0 35px;

                &:not(:last-of-type) {
                    margin-right: 10px;
                }
            }
        }

        .image-wrapper {
            position: relative;
            margin: 0 auto;
            max-width: 10rem;
            max-height: 10rem;
            width: 10rem;
            height: 10rem;
            overflow: hidden;
            border-radius: 50%;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-height: 100%;
            max-width: 110%;
        }

        .name {
            max-width: 17rem;

            @include media(phone) {
                max-width: 10rem;
            }

            a {
                text-transform: uppercase;

                @include media(phone) {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

.actus {
    .thumbnail-wrapper {
        height: 20rem;
        overflow: hidden;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .swiper-button-prev,
    .swiper-button-next {
        top: 35%;
        padding: 0 8px;
        margin: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: #000;
        background: #FFF;
        box-shadow: 0 0 8px 3px rgba(0, 0, 0, .5);

        &::after {
            display: none;
        }
    }

    .swiper-button-disabled {
        display: none;
    }

    .actus-wrap {
        @include media(desktop) {
            margin-bottom: 60px;
        }

        .swiper-container {
            position: relative;
            width: 100%;
            overflow: hidden;
        }
    }

    article,
    .category-actus,
    .category-videos {
        @include media(phone) {
            width: 100%;
        }
    }

    .actus-single,
    .actus-info,
    .videos-info {
        margin-top: 10px;

        p {
            @include media(phone) {
                display: none;
            }
        }
    }

    .actus-single {
        a {
            font-size: 15px;
            text-transform: initial;
        }
    }
}
