.single.single-artist,
.single-beatmaker {
    main {
        padding-top: 5rem;
        padding-bottom: 2rem;

        @include media(phone) {
            padding-top: 2rem;
        }
    }

    .artist {
        padding: 1.5rem;
        border-radius: 5px;

        @include media(phone) {
            background: rgba(255, 255, 255, .01);
        }
    }

    h2 {
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: inherit;
        margin-bottom: 3rem;
        position: relative;
        text-transform: initial;

        @include media(phone) {
            font-size: 30px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -9px;
            left: 0;
            height: 5px;
            width: 60px;
            background: $color__orange;
        }
    }

    .artist-presentation {
        display: flex;
        align-items: center;
        position: relative;
        top: -6.5rem;

        @include media(phone) {
            display: block;
            text-align: center;
            top: 0;
        }

        .artist-presentation__picture {
            position: relative;
            margin-right: 2rem;
            max-width: 15rem;
            min-width: 15rem;
            max-height: 15rem;
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            overflow: hidden;
            @include shadow();

            @include media(phone) {
                margin: 0 auto;
            }

            img {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                min-height: 100%;
                min-width: 100%;
                width: auto;
                max-width: 200px;
            }
        }

        .artist-presentation__info {
            .artist-presentation__info-name {
                display: flex;
                align-items: center;

                @include media(phone) {
                    display: block;
                }

                .entry-title {
                    margin: 0 .5rem 0 0;
                    text-transform: uppercase;
                    font-weight: 600;

                    @include media(phone) {
                        font-size: 30px;
                        display: inline-block;
                    }
                }

                i {
                    font-size: 2rem;
                    color: $color__orange;

                    @include media(phone) {
                        font-size: 15px;
                        vertical-align: super;
                    }
                }
            }

            .artist-presentation__info-reseaux {
                margin-top: 1rem;

                li {
                    display: inline-block;
                    margin-right: 1rem;
                }

                i {
                    font-size: 2rem;
                    transition: all .3s;

                    &.fa-twitter:hover {
                        color: $color__twitter;
                    }

                    &.fa-instagram:hover {
                        background: $color__instagram;
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;
                        box-decoration-break: clone;
                    }

                    &.fa-facebook-f:hover {
                        color: $color__facebook;
                    }

                    &.fa-youtube:hover {
                        color: $color__youtube;
                    }
                }
            }
        }
    }

    .artist-bio {
        position: relative;
        max-height: 160px;
        margin-bottom: 2rem;
        text-align: justify;
        overflow-y: hidden;
        transition: all 0.5s ease;

        &.open {
            max-height: 100%;
            transition: all 0.5s ease;
        }

        p {
            margin-bottom: 1rem;
        }

        .readmore-link {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 100%;
            margin: 0;
            padding: 15px 0 5px;
            text-align: center;
            background-image: -moz-linear-gradient(top, transparent, white);
            background-image: -webkit-gradient(
                linear,
                left top,
                left bottom,
                color-stop(0, transparent),
                color-stop(1, $color__background-color)
            );

            a {
                text-decoration: none;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
                background-color: $color__orange;
                padding: 5px 10px;
                border-radius: 5px;
                transition: all 0.25s ease;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .artist-album {
        flex-flow: column;
        margin-bottom: 2rem;

        .artist-album__container {
            display: flex;
            flex-flow: wrap;
        }

        .artist-album__container-box {
            display: flex;
            margin-bottom: 2rem;

            .album-image {
                margin-right: 1rem;

                img {
                    width: 105px;
                    height: 105px;
                    @include shadow();
                }
            }

            .album-info {
                .album-title {
                    font-weight: 600;
                }

                svg {
                    fill: currentColor;
                    width: 30px;
                    height: 30px;
                }

                a {
                    display: block;
                }

                ul {
                    margin-top: .5rem;

                    li {
                        display: inline-block;
                        margin-right: .5rem;

                        a {
                            transition: transform .3s ease-out;

                            &:hover {
                                transform: translateY(.5rem);
                            }
                        }
                    }
                }
            }
        }
    }

    .artist-music {
        position: relative;
        margin-bottom: 2rem;

        &__container {
            display: flex;
            flex-flow: wrap;

            &-box {
                display: flex;
                margin-bottom: 2rem;

                .music-image {
                    margin-right: 1rem;
                    width: 90px;
                    min-width: 90px;
                    height: 90px;

                    img {
                        max-width: 90px;
                    }
                }

                .music-info {
                    .music-title {
                        font-weight: 600;
                    }

                    svg {
                        fill: currentColor;
                        width: 30px;
                        height: 30px;
                    }

                    a {
                        display: block;
                    }

                    ul {
                        margin-top: .5rem;

                        li {
                            display: inline-block;
                            margin-right: .5rem;

                            a {
                                transition: transform .3s ease-out;

                                &:hover {
                                    transform: translateY(.5rem);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .actus {
        margin-bottom: 2rem;

        .swiper-actus {
            position: relative;
            overflow: hidden;
        }
    }

    .jp-relatedposts {
        display: none !important;
    }
}

.single .actus article a::before {
    content: none;
}
