.single-post {
    .category-actus {
        border-radius: 5px;

        .single-content {
            border-radius: 5px;
            padding: 5px 20px;
            background: rgba(255,255,255,.1);
        }
    }

    .single-content {
        .post-meta {
            border-bottom: 1px solid rgba(255,255,255,0.10);
            padding-bottom: 10px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;

            .fa.fa-eye {
                margin-right: 5px;
            }
        }

        .scriptlesssocialsharing {
            position: relative;

            .scriptlesssocialsharing__buttons {
                @include media(desktop) {
                    position: absolute;
                    flex-direction: column;
                    display: inline-flex;
                    left: -65px;
                }
            }

            a.button {
                border-radius: 50%;
                margin: 5px 0;
                border: none;

                &::before {
                    border: none;
                }
            }
        }
    }

    .clip-box {
        text-align: center;
        position: relative;
        margin-bottom: 5rem;
    }

    .post-thumbnail {
        margin: 0 auto 5rem;
        text-align: center;
        position: relative;
        width: 65%;

        @include media(phone) {
            width: 100%;
        }
}

    .post-thumbnail .single-title,
    .clip-box .single-title {
        position: absolute;
        bottom: -3rem;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 60px;
        width: 65%;
        z-index: 1;

        @include media(phone) {
            width: 90%;
        }

        @include media(phone-small) {
            display: none;
        }

        span {
            background: $color__orange;
            -webkit-box-decoration-break: clone;
            padding: .5rem 1rem;
            color: #fff;
        }
    }

    .post-thumbnail .single-title {
        text-align: left;
    }

    .clip-box .single-title {
        text-align: center;
    }

    .twitter-tweet {
        margin: 10px auto;
    }

    .artist {            
        .artist__container {
            .artist__container-box {
                display: flex;
                align-items: center;
                margin-bottom: 2rem;

                @include media(tablet) {
                    justify-content: center;
                    flex-direction: column;
                }

                .artist-image {
                    margin-right: 1rem;
                    border-radius: 50%;
                    overflow: hidden;
                    @include shadow;

                    @include media(tablet) {
                        margin-right: 0;
                    }

                    &:hover {
                        img {
                        transform: scale(1.1);
                        }
                    }

                    img {
                        max-width: 12rem;
                        transition: all .3s ease-out;
                    }
                }

                .artist-info {
                    @include media(tablet) {
                        margin-top: 2rem;
                    }

                    .artist-title {
                        font-weight: 600;
                        box-shadow: none;
                    }

                    > i {
                        color: $color__orange
                    }

                    ul {
                        margin-top: .5rem;

                        li {
                            display: inline-block;
                            margin-right: .5rem;

                            a {
                                display: block;
                                box-shadow: none;
                            }

                            i {
                                font-size: 2rem;
                                transition: all .3s;

                                &.fa-twitter:hover {
                                    color: $color__twitter;
                                }

                                &.fa-instagram:hover {
                                    background: $color__instagram;
                                    -webkit-text-fill-color: transparent;
                                    -webkit-background-clip: text;
                                    box-decoration-break: clone;
                                }

                                &.fa-facebook-f:hover {
                                    color: $color__facebook;
                                }

                                &.fa-youtube:hover {
                                    color: $color__youtube;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .graphcomment-button,
    .about {
        @include media(desktop) {
            display: none;
        }
    }

    .graphcomment-button {
        a, span {
            display: inline !important;
            background: none !important;
            padding: 0 2px !important;
            font-weight: 100 !important;
            text-transform: unset !important;
        }

        a {
            box-shadow: none;

            &::before {
                border: none;
            }
        }
    }

    #graphcomment-bubble {
        background: #989494 !important;
    }
}