.single-post {
    @include media(phone-tablet) {
        margin-bottom: 30px;
    }

    .category-actus {
        border-radius: 5px;

        .single-content {
            border-radius: 5px;
            padding: 5px 20px;

            @include media(phone) {
                position: relative;
            }

            @include media(desktop) {
                background: rgba(255, 255, 255, .1);
                margin-bottom: 20px;
            }
        }
    }

    .single-content {
        .post-meta {
            border-top: 1px solid rgba(255, 255, 255, 0.10);
            padding-top: 10px;
            display: flex;
            justify-content: space-between;

            .fa.fa-eye {
                margin-right: 5px;
            }
        }

        .scriptlesssocialsharing {
            position: relative;

            .scriptlesssocialsharing__buttons {
                @include media(desktop) {
                    position: absolute;
                    flex-direction: column;
                    display: inline-flex;
                    left: -65px;
                }
            }

            a.button {
                border-radius: 50%;
                margin: 5px 0;
                border: none;

                &::before {
                    border: none;
                }
            }
        }
    }

    .clip-box {
        text-align: center;
        position: relative;
        margin-bottom: 5rem;
    }

    .post-thumbnail {
        margin: 0 auto 5rem;
        text-align: center;
        position: relative;
        max-width: 65%;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 250px;
            background: linear-gradient(to top, $color__background-color 10%, rgba(255, 255, 255, 0) 90%);
        }

        @include media(phone) {
            width: 100%;
            max-width: 100%;
            margin: 0;
        }
    }

    .post-thumbnail .single-title,
    .clip-box .single-title {
        position: absolute;
        bottom: -3rem;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 60px;
        width: 70%;
        z-index: 1;

        @include media(phone) {
            width: 90%;
        }

        @include media(phone-small) {
            display: none;
        }

        span {
            background: $color__orange;
            -webkit-box-decoration-break: clone;
            padding: .5rem 1rem;
            color: #fff;
        }
    }

    .post-thumbnail .single-title {
        text-align: left;

        @include media(phone) {
            font-size: 25px;
            bottom: 0;
            line-height: 45px;
        }
    }

    .clip-box .single-title {
        text-align: center;
    }

    .twitter-tweet {
        margin: 10px auto;
    }

    .artist {
        .artist__container {
            .artist__container-box {
                display: flex;
                align-items: center;
                margin-bottom: 2rem;

                @include media(tablet) {
                    justify-content: center;
                    flex-direction: column;
                }

                .artist-image {
                    margin-right: 1rem;
                    border-radius: 50%;
                    overflow: hidden;
                    @include shadow;

                    @include media(tablet) {
                        margin-right: 0;
                    }

                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                    }

                    img {
                        max-width: 12rem;
                        transition: all .3s ease-out;
                    }
                }

                .artist-info {
                    @include media(tablet) {
                        margin-top: 2rem;
                    }

                    .artist-title {
                        font-weight: 600;
                        box-shadow: none;
                    }

                    >i {
                        color: $color__orange
                    }

                    ul {
                        margin-top: .5rem;

                        li {
                            display: inline-block;
                            margin-right: .5rem;

                            a {
                                display: block;
                                box-shadow: none;
                            }

                            i {
                                font-size: 2rem;
                                transition: all .3s;

                                &.fa-twitter:hover {
                                    color: $color__twitter;
                                }

                                &.fa-instagram:hover {
                                    background: $color__instagram;
                                    -webkit-text-fill-color: transparent;
                                    -webkit-background-clip: text;
                                    box-decoration-break: clone;
                                }

                                &.fa-facebook-f:hover {
                                    color: $color__facebook;
                                }

                                &.fa-youtube:hover {
                                    color: $color__youtube;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .graphcomment-button,
    .about {
        @include media(desktop) {
            display: none;
        }
    }

    .graphcomment-button {
        @include media(phone) {
            margin-bottom: 20px;
            font-size: 12px;
            padding-left: 15px;
        }

        span svg {
            display: none;
        }

        a,
        span {
            display: inline !important;
            background: none !important;
            padding: 0 2px !important;
            font-weight: 100 !important;
            text-transform: unset !important;
        }

        a {
            box-shadow: none;

            &::before {
                border: none;
            }
        }
    }

    #graphcomment-bubble {
        background: #989494 !important;
    }
}

//BIG LINK
.music-content .link {
    margin: 20px 0 20px;
    text-align: center;
    color: $color__orange;

    .stream {
        margin-bottom: 20px;
    }

    svg {
        fill: currentColor;
        width: 40px;
        height: 40px;
    }

    .download {
        p {
            margin-bottom: 18px;
        }

        a {
            border-radius: 10px;
            border: 1px solid $color__orange;
            box-shadow: 0 0 0 0 $color__orange;
            animation: pulse 1.3s infinite;
            padding: 10px 20px;
        }
    }

    @keyframes pulse {
        to {
            box-shadow: 0 0 0 5px rgba($color__orange, .05);
        }
    }

    li {
        display: inline-block;
        margin-right: 1rem;
    }
}
