.single-artist {
    main {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    h2 {
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: inherit;
        margin-bottom: 2rem;
    }

    .artist-presentation {
        display: flex;
        align-items: flex-end;
        position: relative;
        top: -6.5rem;

        &__picture {
            margin-right: 2rem;

            img {
                border-radius: 50%;
            }
        }

        &__info {
            &-name {
                display: flex;
                align-items: center;

                .entry-title {
                    margin: 0 .5rem 0 0;
                    text-transform: uppercase;
                    font-weight: 600;
                }

                i {
                    font-size: 2rem;
                    color: $color__yellow;
                }
            }

            &-reseaux {
                li {
                    display: inline-block;
                    margin-right: 1rem;
                }

                i {
                    font-size: 2rem;
                    transition: all .3s;

                    &.fa-twitter:hover {
                        color: $color__twitter;
                    }

                    &.fa-instagram:hover {
                        background: $color__instagram;
                        -webkit-text-fill-color: transparent;
                        -webkit-background-clip: text;
                        box-decoration-break: clone;
                    }

                    &.fa-facebook-f:hover {
                        color: $color__facebook;
                    }

                    &.fa-youtube:hover {
                        color: $color__youtube;
                    }
                }
            }
        }
    }

    .artist-bio {
        margin-bottom: 5rem;
        text-align: justify;
    }

    .artist-album {
        margin-bottom: 5rem;
        
        &__container {
            display: flex;
            flex-flow: wrap;

            &-box {
                display: flex;
                margin-bottom: 2rem;

                .album-image {
                    margin-right: 1rem;

                    img {
                        @include shadow();
                    }
                }

                .album-info {
                    .album-title {
                        font-weight: 600;
                    }

                    a {
                        display: block;
                    }

                    ul {
                        margin-top: .5rem;

                        li {
                            display: inline-block;
                            margin-right: .5rem;

                            a {
                                transition: transform .3s ease-out;

                                &:hover {
                                    transform: translateY(.5rem);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .artist-music {
        position: relative;
        margin-bottom: 5rem;
        
        &__container {
            display: flex;
            flex-flow: wrap;

            &-box {
                display: flex;
                margin-bottom: 2rem;

                .music-image {
                    margin-right: 1rem;
                }

                .music-info {
                    .music-title {
                        font-weight: 600;
                    }

                    a {
                        display: block;
                    }

                    ul {
                        margin-top: .5rem;

                        li {
                            display: inline-block;
                            margin-right: .5rem;

                            a {
                                transition: transform .3s ease-out;

                                &:hover {
                                    transform: translateY(.5rem);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .artist-clip {
        position: relative;

        &__container {
            display: flex;
            flex-wrap: wrap;

            &-box {
                margin-bottom: 2rem;

                > div {
                    position: relative;
                    @include shadow();

                    &:hover {
                        img {
                            opacity: .7;
                        }

                        svg {
                            transform: translate(-50%, -50%) scale(1.1);

                            .ytp-large-play-button-bg {
                                fill: $color__youtube;
                            }
                        }
                    }

                    img {
                        transition: all .3s ease-out;
                    }

                    svg {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        cursor: pointer;
                        transition: all .3s ease-out;
                        height: 3.5rem;
                    }
                }
            }
        }
    }
}