@use "../variables/variables-base";

.single-riddim,
.single-album {
    h2 {
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: inherit;
        margin-bottom: 2rem;
        position: relative;
        text-transform: initial;
        text-align: center;

        @include variables-base.media(phone) {
            font-size: 30px;
        }
    }

    .music-content {
        img {
            width: 100%;
            max-height: initial;
        }
    }

    .artist-album {
        flex-direction: column;
        align-items: center;
    }

    aside {
        margin-top: 1.5rem;
    }
}
