.single {
    .scriptlesssocialsharing {
        .scriptlesssocialsharing__buttons {
            justify-content: space-around;
        }

        a.button {
            margin: 5px 0;
            border: none;
            background-color: $color__orange !important;

            &::before {
                border: none;
            }
        }
    }

    .music-content {
        p, ul {
            margin-bottom: 1rem;
        }

        li {
            text-align: center;
        }
    }

    .artist-album {    
        display: flex;
        justify-content: center;
        flex-flow: wrap;

        @include media(phone) {
            flex-direction: column;

            .artist-info__container {
                flex-flow: wrap;
                justify-content: center;
            }
        }

        .artist-image__container {
            margin-left: 30px;
        }

        .artist-image__container,
        .artist-info__container {
            display: flex;
            align-items: center;

            @include media(phone) {
                justify-content: center;
            }

            .artist-image {
                position: relative;
                margin-left: -30px;
                height: 8rem;
                width: 8rem;
                min-width: 8rem;
                min-height: 8rem;
                overflow: hidden;
                border-radius: 50%;
                border: 4px solid $color__background-color;

                img {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    min-height: 100%;
                    max-width: 8rem;
                }
            }

            .artist-info {
                @include media(desktop) {
                    margin-left: 5px;

                    &:first-of-type {
                        margin-left: 10px;
                    }
                }

                @include media(tablet) {
                    margin-top: 2rem;
                }

                @include media(phone) {
                    &:first-of-type {
                        margin-right: 10px;
                    }
                }

                + .artist-info::before {
                    content: '/';
                    margin-right: 5px;
                }

                .artist-title {
                    font-weight: 600;
                }

                > i {
                    color: $color__orange
                }
            }
        }
    }

    li.pis-li {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    p.pis-title {
        order: 1;
        font-size: 15px;
    }

    p.pis-excerpt {
        position: relative;
        order: 0;
        width: 86px;
        height: 86px;
        min-width: 86px;
        min-height: 86px;
        margin-right: 10px;
        border-radius: 50%;
        overflow: hidden;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
            width: auto;
            max-width: initial;
        }
    }
}

.single-post {
    @include media(phone-tablet) {
        margin-bottom: 30px;
    }

    .category-actus {
        border-radius: 5px;

        .single-content {
            border-radius: 5px;
            padding: 5px 20px;

            @include media(phone) {
                position: relative;
            }

            @include media(desktop) {
                background: rgba(255, 255, 255, .1);
                margin-bottom: 20px;
            }
        }
    }

    .single-content {
        .music-related a {
            box-shadow: none;
        }

        .music-box {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: wrap;
        }

        .music-cover {
            margin-right: 10px;
            width: 8rem;
            height: 8rem;
        }

        .post-meta {
            border-top: 1px solid rgba(255, 255, 255, 0.10);
            padding-top: 10px;
            display: flex;
            justify-content: space-between;

            .fa.fa-eye {
                margin-right: 5px;
            }
        }
    }

    .clip-box {
        text-align: center;
        position: relative;
        margin-bottom: 5rem;
    }

    .post-thumbnail {
        margin: 0 auto 5rem;
        text-align: center;
        position: relative;
        max-width: 75%;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 250px;
            background: linear-gradient(to top, $color__background-color 10%, rgba(255, 255, 255, 0) 90%);
        }

        @include media(phone) {
            width: 100%;
            max-width: 100%;
            margin: 0;
        }
    }

    .post-thumbnail .single-title,
    .clip-box .single-title {
        position: absolute;
        bottom: -3rem;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 600;
        font-size: 3.2rem;
        line-height: 60px;
        width: 70%;
        z-index: 1;

        @include media(phone) {
            width: 90%;
        }

        @include media(phone-small) {
            display: none;
        }

        span {
            background: $color__orange;
            -webkit-box-decoration-break: clone;
            padding: .5rem 1rem;
            color: #fff;
        }
    }

    .post-thumbnail .single-title {
        text-align: left;

        @include media(phone) {
            font-size: 25px;
            bottom: -15px;
            line-height: 45px;
        }
    }

    .clip-box .single-title {
        text-align: center;
    }

    .twitter-tweet {
        margin: 10px auto;
    }

    .artist {
        .artist__container {
            .artist__container-box {
                display: flex;
                align-items: center;
                margin-bottom: 2rem;

                @include media(tablet) {
                    justify-content: center;
                    flex-direction: column;
                }

                .artist-image {
                    margin-right: 1rem;
                    border-radius: 50%;
                    overflow: hidden;
                    @include shadow;

                    @include media(tablet) {
                        margin-right: 0;
                    }

                    &:hover {
                        img {
                            transform: scale(1.1);
                        }
                    }

                    img {
                        max-width: 12rem;
                        transition: all .3s ease-out;
                    }
                }

                .artist-info {
                    @include media(tablet) {
                        margin-top: 2rem;
                    }

                    .artist-title {
                        font-weight: 600;
                        box-shadow: none;
                    }

                    >i {
                        color: $color__orange
                    }

                    ul {
                        margin-top: .5rem;

                        li {
                            display: inline-block;
                            margin-right: .5rem;

                            a {
                                display: block;
                                box-shadow: none;
                            }

                            i {
                                font-size: 2rem;
                                transition: all .3s;

                                &.fa-twitter:hover {
                                    color: $color__twitter;
                                }

                                &.fa-instagram:hover {
                                    background: $color__instagram;
                                    -webkit-text-fill-color: transparent;
                                    -webkit-background-clip: text;
                                    box-decoration-break: clone;
                                }

                                &.fa-facebook-f:hover {
                                    color: $color__facebook;
                                }

                                &.fa-youtube:hover {
                                    color: $color__youtube;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .graphcomment-button,
    .about {
        @include media(desktop) {
            display: none;
        }
    }

    .graphcomment-button {
        @include media(phone) {
            margin-bottom: 20px;
            font-size: 12px;
            padding-left: 15px;
        }

        span svg {
            display: none;
        }

        a,
        span {
            display: inline !important;
            background: none !important;
            padding: 0 2px !important;
            font-weight: 100 !important;
            text-transform: unset !important;
        }

        a {
            box-shadow: none;

            &::before {
                border: none;
            }
        }
    }

    #graphcomment-bubble {
        background: #989494 !important;
    }
}

//BIG LINK
.link {
    margin: 20px 0 20px;
    text-align: center;

    .stream {
        color: $color__orange;
        margin-bottom: 20px;

        p {
            text-transform: uppercase;
            font-weight: 400;
        }
    }

    svg {
        fill: currentColor;
        width: 40px;
        height: 40px;
    }

    .download {
        margin-bottom: 20px;

        p {
            margin-bottom: 18px;
        }

        a {
            border-radius: 10px;
            border: 1px solid $color__orange;
            box-shadow: 0 0 0 0 $color__orange;
            animation: pulse 1.3s infinite;
            padding: 10px 20px;
        }
    }

    @keyframes pulse {
        to {
            box-shadow: 0 0 0 5px rgba($color__orange, .05);
        }
    }

    li {
        display: inline-block;
        margin-right: 1rem;
    }
}
