@use "../variables/colors";
@use "../variables/variables-base";

body.single-music {
    background: colors.$surface-dark;

    aside {
        padding: 20px;
        border-radius: 12px;
        background-color: colors.$surface-dark;
    }
}

.single-music {
    .music-content {
        p, ul {
            margin-bottom: 1rem;
        }

        img {
            width: 100%;
            max-height: initial;
        }
    }

    .spotify-shell {
        h2 {
            margin-top: 0;
            margin-bottom: 0.5rem;
            text-align: left;
        }
    }

    .related-album {
        font-weight: 500;

        a {
            font-weight: 300;
        }
    }

    .artist-album {
        align-items: center;
    }

    .jp-relatedposts-post-date {
        text-align: left;
    }

    .music-presentation {
        display: none;
    }
}
