.single-album {
    main {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    h2 {
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: inherit;
        margin-bottom: 2rem;
    }

    li {
        text-align: center;
    }

    .music-presentation {
        display: flex;
        position: relative;
        top: -5rem;

        &__picture {
            margin-right: 2rem;

            img {
                border-radius: .5rem;
                @include shadow;
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            @include media(phone) {
                justify-content: space-between;
            }

            .entry-title {
                margin: 0 .5rem 0 0;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 3rem;
                line-height: 2.5rem;
                
                @include media(phone) {
                    font-size: 1.8rem;
                }
            }

            &-reseaux {
                li {
                    display: inline-block;
                    margin-right: 1rem;

                    img {
                        transition: transform .3s ease-out;

                        @include media(phone) {
                            max-width: 1.5rem;
                        }

                        &:hover {
                            transform: translateY(.5rem);
                        }
                    }
                }
            }
        }
    }

    .music-content {
    }

    aside {
        margin-top: 1.5rem;

        h2 {
            font-size: 3.2rem;
        }

        .artist-album {
            margin-bottom: 5rem;
            
            &__container {
                &-box {
                    display: flex;
                    align-items: center;
                    margin-bottom: 2rem;

                    @include media(tablet) {
                        justify-content: center;
                        flex-direction: column;
                    }


                    .artist-image {
                        margin-right: 1rem;

                        @include media(tablet) {
                            margin-right: 0;
                        }

                        img {
                            border-radius: 50%;
                            max-width: 12rem;
                            @include shadow;
                        }
                    }

                    .artist-info {
                        @include media(tablet) {
                            margin-top: 2rem;
                        }

                        .artist-title {
                            font-weight: 600;
                        }

                        > i {
                            color: $color__yellow
                        }

                        ul {
                            margin-top: .5rem;

                            li {
                                display: inline-block;
                                margin-right: .5rem;

                                a {
                                    display: block;
                                }

                                i {
                                    font-size: 2rem;
                                    transition: all .3s;

                                    &.fa-twitter:hover {
                                        color: $color__twitter;
                                    }

                                    &.fa-instagram:hover {
                                        background: $color__instagram;
                                        -webkit-text-fill-color: transparent;
                                        -webkit-background-clip: text;
                                        box-decoration-break: clone;
                                    }

                                    &.fa-facebook-f:hover {
                                        color: $color__facebook;
                                    }

                                    &.fa-youtube:hover {
                                        color: $color__youtube;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}