@use "../variables/colors";
@use "../variables/variables-base";

a {
	color: colors.$surface-light;

	&:visited,
	&:hover,
	&:active {
		color: colors.$surface-light;
	}

	&:focus-visible {
		outline: 2px solid colors.$brand-accent;
		outline-offset: 2px;
	}
}

.jp-relatedposts-headline {
	position: relative;
	margin-bottom: 3rem;
	letter-spacing: .3rem;
	text-transform: uppercase;
	text-align: left;

	em {
		color: white;
		font-weight: 700;
		font-style: initial;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: -5px;
		left: 0;
		height: 5px;
		width: 77px;
		background: colors.$brand-accent;
	}

	@include variables-base.media(phone) {
		letter-spacing: 0;
	}
}

.jp-relatedposts {
	margin: 3rem 0;
}

.jp-relatedposts-items {
	@include variables-base.media(desktop) {
		display: flex;
	}
}

.jp-relatedposts-post {
	@include variables-base.media(desktop) {
		width: 32%;
		max-width: 32%;

		&:not(:last-of-type) {
			margin-right: 1rem;
		}
	}

	@include variables-base.media(phone) {
		&:not(:last-of-type) {
			margin-bottom: 3rem;
		}
	}
}

.jp-relatedposts-post-title {
	text-align: initial;
}

.jp-relatedposts-post-img {
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.jp-relatedposts-post-excerpt {
	display: none;
}

.jp-relatedposts-post-date {
    font-size: 1rem;
}
