html {
	font-size: 62.5%;
}

body,
button,
input,
select,
textarea {
	font-family: $font__main;
	font-size: 1.6rem;
	line-height: $font__line-height-body;
	color: #fff;
	font-weight: 200;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

h1 {
	font-size: 6rem;

	@include media(phone) {
		font-size: 1.5625rem;
	}
}

h2 {
	font-size: 5rem;

	@include media(phone) {
		font-size: 30px;
	}
}

h3 {
	font-size: 3rem;

	&.widget-title {
		padding: 0 0 0 15px;
		margin-bottom: 1rem;
		font-size: 2.5rem;
		border-radius: 5px;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: .5px;
		position: relative;

		&::before {
            top: 50%;
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 30px;
			width: 5px;
			background: $color__orange;
			transform: translateY(-50%);
		}
	}
}

strong {
	font-weight: 600;
}

em {
	font-weight: 300;
	color: $color__orange;
}

figure {
	margin-right: 0;
	margin-left: 0;
	margin-top: 0;
	text-align: center;
}

figcaption {
	font-size: 1.2rem;
	color: grey;
}

.single article, .page .page-content {
	p {
		margin: 1rem 0;
	}

	.scriptlesssocialsharing__buttons a :hover {
		transform: inherit;
	}

	a {
		box-shadow: $color__orange 0px -5px 0px inset;
	}
}