.playlist-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: $color__yellow;
    text-align: center;
    font-size: 2rem;
    z-index: 3;
    @include shadow();


    a {
        padding: 1rem;
        color: white;
        transition: all .3s ease-out;

        i {
            transition: all .3s ease-out;
        }

        &:hover {
            transform: scale(1.1);

            .fa-spotify {
                color: $color__spotify;
            }
            .fa-soundcloud {
                color: $color__soundcloud;
            }
            .fa-youtube {
                color: $color__youtube;
            }
            .fa-apple {
                background: $color__apple;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                box-decoration-break: clone;
            }
        }
    }
}

.site-footer {
    color: white;
    background: $color__black;
    padding: 3rem 0;

    a {
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }

    .custom-logo {
        max-width: 8rem;
        margin-top: 2rem;
    }

    .footer-wrap {
        display: flex;
        justify-content: space-between;
        margin: 0 auto 5rem;
        max-width: 68rem;

        @include media(phone) {
            justify-content: center;
        }

        .footer-section-1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            @include media(phone) {
                display: none;
            }
        }

        .footer-section-menu {
            border-left: 1px solid rgba(white, 0.3);
            border-right: 1px solid rgba(white, 0.3);
            text-align: center;

            @include media(phone) {
                border: none;
            }
        }

        .footer-section-rgpd {
            text-align: center;
        }
    }

    .site-info {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 100;
    }
}

// BACK TO TOP
#button {
    display: inline-block;
    background-color: $color__yellow;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    transition: background-color .3s, opacity .5s, visibility .5s;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    @include shadow();

    &:hover {
        cursor: pointer;
        background-color: #333;
        text-decoration: none;
    }

    &:active {
        background-color: #555;
    }

    &::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 2rem;
        line-height: 4rem;
        color: #fff;
    }

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

// ABOUT
.about {
    $cubic: cubic-bezier(0.64, 0.01, 0.07, 1.65);
    $transition: 0.6s $cubic;
    position: fixed;
    z-index: 10;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: all 0.2s ease;

    .bg_links {
        width: 4rem;
        height: 4rem;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(#000, 0.5);
        border-radius: 100%;
        backdrop-filter: blur(5px);
        position: absolute;
    }

    .logo {
        width: 4rem;
        height: 4rem;
        z-index: 9;
        background-image: url('assets/img/logo-perso.png');
        background-size: 65%;
        background-repeat: no-repeat;
        background-position: 7px 7px;
        opacity: 0.9;
        transition: all 1s 0.2s ease;
        bottom: 0;
        right: 0;
    }

    .social {
        opacity: 0;
        right: 0;
        bottom: 0;

        .icon {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            transition: all 0.2s ease, background-color 0.4s ease;
            opacity: 0;
            border-radius: 100%;

            i {
                font-size: 24px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &.facebook,
        &.youtube,
        &.instagram {
            transition: all 0.8s ease;
        }
    }

    &:hover {
        width: 105px;
        height: 105px;
        transition: all $transition;

        .logo {
            opacity: 1;
            transition: all 0.6s ease;
        }

        .social {
            opacity: 1;

            .icon {
                opacity: 0.9;
            }

            &:hover {
                background-size: 28px;

                .icon {
                    background-size: 65%;
                    opacity: 1;
                }
            }

            &.facebook {
                right: 0;
                bottom: calc(100% - 40px);
                transition: all 0.3s 0s $cubic;

                .icon {
                    &:hover {
                        background-color: $color__facebook;
                    }
                }
            }

            &.youtube {
                bottom: 45%;
                right: 45%;
                transition: all 0.3s 0.15s $cubic;

                .icon {
                    &:hover {
                        background-color: $color__youtube;
                    }
                }
            }

            &.instagram {
                bottom: 0;
                right: calc(100% - 40px);
                transition: all 0.3s 0.25s $cubic;

                .icon {
                    &:hover {
                        background: $color__instagram;
                    }
                }
            }
        }
    }
}