header {
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 30rem;

    @include media(phone) {
        min-height: 18rem;
    }
}

.site-header {
    background: white;
    width: 100%;
    @include shadow();

    @include media(desktop) {
        top: 0;
        z-index: 99;
        position: fixed;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    .hidden {
        display: none;
    }

    #nav {
        &:checked {
            + .nav-btn {
                transform: rotate(45deg);

                i {
                    background: black;
                    transition: transform 0.2s ease;

                    &:nth-child(1) {
                        transform: translateY(6px) rotate(180deg);
                    }

                    &:nth-child(2) {
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: translateY(-6px) rotate(90deg);
                    }
                }
            }

            ~ .nav-wrapper {
                z-index: 9990;
                opacity: 1;

                ul li a {
                    opacity: 1;
                    transform: translateX(0);
                }
            }
        }
    }

    .nav-btn {
        display: none;

        @include media(phone) {
            display: block;
            cursor: pointer;
            z-index: 9999;

            i {
                display: block;
                width: 2rem;
                height: .2rem;
                background: black;
                border-radius: .2rem;
                margin-left: 1.4rem;

                &:nth-child(1) {
                    margin-top: 16px;
                }

                &:nth-child(2) {
                    margin-top: 4px;
                    opacity: 1;
                }

                &:nth-child(3) {
                    margin-top: 4px;
                }
            }
        }
    }

    .logo {
        display: inline-block;
        margin: 1rem 0;

        a {
            color: black;
            text-transform: uppercase;
            font-weight: 100;
            font-size: 2.2rem;

            span {
                font-weight: 700;
            }
        }
    }

    .nav-wrapper {
        @include media(phone) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: #fff;
            opacity: 0;
            transition: all .2s ease;
        }

        ul {
            display: flex;
            align-items: center;
            height: 100%;

            @include media(phone) {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                height: auto;
                flex-direction: column;
            }

            li {
                margin: 0 1rem;

                @include media(phone) {
                    display: block;
                    width: 100%;
                    text-align: right;
                    margin: 0 0 1rem;

                    &:nth-child(1) a {
                        transition-delay: .2s;
                    }

                    &:nth-child(2) a {
                        transition-delay: .3s;
                    }

                    &:nth-child(3) a {
                        transition-delay: .4s;
                    }

                    &:nth-child(4) a {
                        transition-delay: .5s;
                    }
                }

                &.current-menu-item a {
                    color: $color__yellow;
                    border-bottom: 1px solid $color__yellow;
                }

                i {
                    @include media(phone) {
                        padding: 1rem 2.4rem;
                    }
                }

                a {
                    transition: all 0.2s ease;

                    @include media(phone) {
                        padding: 1rem 2.4rem;
                        opacity: 0;
                        color: #000;
                        font-size: 2.5rem;
                        font-weight: 600;
                        letter-spacing: 1.2px;
                        transform: translateX(-2rem);
                        transition: all 0.2s ease;
                    }

                    &:hover {
                        color: $color__yellow;
                        border-bottom: 1px solid $color__yellow;
                    }
                }
            }
        }
    }
}

#breadcrumbs {
    margin-top: 1rem;
}

// Search
.search-overlay {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 110;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, .96);
    visibility: hidden;
    opacity: 0;
    transform: scale(1.09);
    transition: opacity .3s, transform .3s, visibility .3s;
    box-sizing: border-box;

    .event-summary {
        margin-bottom: 0;
        margin-top: 2rem;

        p {
            padding-top: 0;
        }
    }

    .search-overlay__top {
        background-color: rgba(0, 0, 0, .3);

        > .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .search-term {
            width: 100%;
            box-sizing: border-box;
            border: none;
            padding: 1.5rem 0;
            margin: 0;
            background-color: transparent;
            font-size: 3rem;
            font-weight: 300;
            outline: none;
            color: $color__yellow;
        }
    }

    .search-overlay__icon {
        margin-right: 1rem;
        font-size: 3rem;
        color: $color__yellow;
    }

    &--active {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }

    .search-overlay__section-title {
        margin: 3rem 0 .1rem 0;
        color: black;
        padding: 1.5rem 0;
        font-size: 3rem;
        letter-spacing: .5rem;
    }

    .search-overlay__close {
        font-size: 3rem;
        cursor: pointer;
        transition: all .3s;
        background-color: #FFF;
        color: $color__yellow;
        line-height: .7;
        letter-spacing: -.1rem;
    }

    .one-half {
        padding-bottom: 0;
    }

    #search-overlay__results {
        a {
            text-decoration: underline;
        }

        .artist-card {
            display: flex;
            align-items: center;

            .artist-image {
                border-radius: 50%;
                overflow: hidden;
                @include shadow();
                margin-right: 1rem;

                img {
                    transition: all .3s ease-out;
                    max-width: 10rem;
                }

                &:hover img {
                    transform: scale(1.1);
                }
            }

            .artist-info {

            }
        }
    }
}

body.admin-bar .search-overlay {
    top: 32px;
}

.body-no-scroll {
    overflow: hidden;
}

@keyframes spin {
    0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    }
}

.spinner-loader {
    margin-top: 4.5rem;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 0.25rem solid rgba(0, 0, 0, 0.2);
    border-top-color: black;
    animation: spin 1s infinite linear;
}

.search-trigger {
    cursor: pointer;
}

main {
    padding-top: 8rem;
    padding-bottom: 5rem;
}
